<div class="dashboard-container">

    <div class="top-bar">
        <button (click)="logout()">Logout</button>
    </div>

    <h1>My Library</h1>

    <div class="filters">
        <button type="button" (click)="setType('all')">All</button>
        <button type="button" (click)="setType('book')">Books</button>
        <button type="button" (click)="setType('comic')">Comics</button>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="item-form">

        <input type="text" formControlName="title" placeholder="Title">

        <input type="text" formControlName="author" placeholder="Author">

        <input type="text" formControlName="genre" placeholder="Genre">

        <input type="text" formControlName="language" placeholder="Language">

        <select formControlName="format">
            @for (format of formats; track format) {
            <option [value]="format">
                {{ format }}
            </option>
            }
        </select>

        <label>
            <input type="checkbox" formControlName="read">
            Read
        </label>

        <select formControlName="media_type">
            <option value="book">book</option>
            <option value="comic">comic</option>
        </select>

        <button type="submit">
            {{ editingId ? 'Update Item' : 'Add Item' }}
        </button>

    </form>

    <div class="sort-button">
        <select #sortSelect (change)="sortItems(sortSelect.value)">
            <option value="">Sort by...</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="genre">Genre</option>
            <option value="language">Language</option>
        </select>
    </div>

    @if (items.length > 0) {

    <table class="library-table">

        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Language</th>
                <th>Type</th>
                <th>Format</th>
                <th>Read</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            @for (item of items; track item.id) {

            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.author }}</td>
                <td>{{ item.genre }}</td>
                <td>{{ item.language }}</td>
                <td>{{ item.media_type }}</td>
                <td>{{ item.format }}</td>
                <td>{{ item.read ? 'Yes' : 'No' }}</td>
                <td>


                    <button type="button" (click)="startEdit(item)">
                        Edit
                    </button>

                    <button (click)="deleteItem(item.id)">
                        Delete
                    </button>

                    @if (editingId === item.id) {
                    <button type="button" (click)="cancelEdit()">
                        Cancel
                    </button>
                    }

                </td>
            </tr>

            }

        </tbody>

    </table>

    } @else {

    <p>No items found.</p>

    }

</div>